# Server
PORT=3000
SESSION_SECRET=change_me

# Database (PostgreSQL/RDS)
DB_HOST=ogn-database.cbkkk2oec2ve.us-west-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=ogn
DB_USER=postgres
DB_PASSWORD=change_me
DB_SSL=true

