<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feel Good - OGN</title>
</head>
<body>
    <h1>Welcome to OGN</h1>
    <nav><a href="">Logout</a> <a href="">Preferences</a></nav>
    <main>
        <div id="newsfeed"></div>
    </main>
    <footer><p>&copy; 2025 OGN. All rights reserved.</p></footer>
</body>
</html>